* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-image: linear-gradient(
    to right top,
    #f65eb4,
    #f460ba,
    #f162bf,
    #ee65c5,
    #eb67ca,
    #eb67cf,
    #eb66d3,
    #eb66d8,
    #ee62dd,
    #f15ee3,
    #f45ae9,
    #f655ef
  );
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: #c01073 solid 4px;
}

h1 {
  font-size: 32px;
  color: #00082f;
  margin-top: 24px;
  margin-bottom: 8px;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: #00082f;
  opacity: 0.8;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c01073;
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

ul li a:hover {
  background: #c7839e;
}
